<div id="st-navbar-desktop-wrapper" class="st-navbar-desktop-wrapper st-navbar-desktop-fixed">
  <div class="st-navbar-desktop">
    <div class="container">
      <div class="st-navbar-desktop-logo">
        <a routerLink="/" class="st-navbar-desktop-logo-link" title="Logo"><img src="https://www.smoothemes.com/media/jquery/navbar-bootstrap-superfish/logo.svg"></a>
      </div>
      <nav class="st-navbar-desktop-menu" role="navigation">
        <ul id="st-navbar-desktop-menu-nav" class="sf-menu">
          <li><a routerLink="contact">צור קשר</a></li>
          <li><a href="#">אודותינו</a></li>
          <li class="dropdown-right"><a href="#">השכרה</a>
            <ul>
              <li><a href="#">Página uno</a></li>
              <li><a href="#">Página dos</a>
                <ul>
                  <li><a href="#">Página dos uno</a></li>
                  <li><a href="#">Página dos dos</a></li>
                  <li><a href="#">Página dos tres</a></li>
                </ul>
              </li>
              <li><a href="#">Página tres</a></li>
            </ul>
          </li>
          <li><a routerLink="sale">מכירה</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="container" style="margin-top:110px;"></div>
