@import url('https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=hebrew');

.header {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 2.95em !important;
  text-align: center;
  direction: rtl;
}

.container {
  min-height: 100vh;
}

.column {
  float: left;
  /*padding: 20px;*/
}

.left {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}

.right {
  width: 20%;
}

mat-form-field, mat-select, mat-option {
  direction: rtl;
  text-align: right;
}

.spacer {
  margin-right: 1rem !important;
}

.btn-panel {
  display: block;
  /*margin-right: 2rem;*/
}

button {
  width: 45px;
  height: 25px;
  text-align: center;
  padding: inherit;
}

#clear-btn {
  background-color: #519AE3;
}

#filter-btn {
  background-color: #00A885;
}

.content {
  display: inline-block;
}

.hr-mini {
  max-width: 50px;
  border-color: #519AE3;
  border-width: 3px;
  margin-bottom: 3rem;
}
