@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');

.header {
  font-family: 'Varela Round', sans-serif !important;
  text-align: center;
  direction: rtl;
  margin-bottom: 3rem;
}

.container {
  height: 100vh;
}

.column {
  float: left;
  /*padding: 20px;*/
}

.left {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}

.right {
  width: 20%;
}

mat-grid-tile {
  background: lightblue;
}

