
h1 {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 2.95em;
  text-align: center;
  direction: rtl;
}

.hr-mini {
  max-width: 50px;
  border-color: #519AE3;
  border-width: 3px;
}

body {
  font-family: 'Varela Round', sans-serif !important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  display: block;
  text-align: right;
}

.btnSubmit {
  text-align: center;
  padding: 0px;
  height: 5em;
}

span {
  display: block;
  text-align: right;
  color: red;
}

#map {
  display: block;
  margin: auto;
}

#col1 {
  display: block;
  position: center;
  padding-right: 250px;
}

section {
  width: 100%;
}

.col-details {
  display: inline-block;
}

.col-contact-form {
  display: inline-block;
}

#details {
  margin: auto;
  line-height: 100px;
}

#right-col {
  display: inline-block;
  float: right;
  width: 50%;
}

#left-col {
  display: inline-block;
  float: left;
  width: 50%;
}

.li-detail {
  margin-left: 2rem;
}

.li-first {
  margin-top: 0.5rem;
}

.spacer {
  margin-top: 5rem;
}

.mapouter {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.gmap_canvas > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

