body {
  font-family: 'Alef', 'Arial', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 004);
}

h1 {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  display: block;
  text-align: right;
}

.btnSubmit {
  text-align: center;
  padding: 0px;
  height: 5em;
}

span {
  display: block;
  text-align: right;
  color: red;
}

#map {
  display: block;
  margin-bottom: 60px;
  margin-right: 500px;
}

#col1 {
  display: block;
  position: center;
  padding-right: 250px;
}

agm-map {
  height: 500px;
  /*width: 1300px;*/
}

#information, #openingHours {
  text-align: right;
}




