<h1 id="contact-header">צור קשר</h1>
<hr class="hr-mini">

<span class="spacer"></span>

<div class="container">
  <div class="row">
    <section id="details-section">
      <div class="col-details col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="details" class="text-center">
          <ul id="left-col" class="list-unstyled column">

            <li>
              <i class="fa fa-map-marker fa-2x mt-4 blue-text"></i>
              <ul class="list-unstyled li-first" style="direction: rtl; line-height: 1.5rem;">
                <li class="li-detail"><b>מרכז רכטר 9, אילת</b></li>
              </ul>
            </li>

            <li>
              <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
              <ul class="list-unstyled" style="direction: rtl; line-height: 1.5rem;">
                <li class="li-detail li-first"><b>1-800-277677</b></li>
                <li class="li-detail"><b>053-7788978</b></li>
              </ul>
            </li>

            <li>
              <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
              <ul class="list-unstyled li-first" style="direction: rtl; line-height: 1.5rem;">
                <li class="li-detail li-first">
                  <a href="mailto:nachi280465@gmail.com"><b>אימייל</b></a>
                </li>
              </ul>
            </li>

          </ul>

          <ul id="right-col" class="list-unstyled column">

            <li>
              <i class="fa fa-facebook fa-2x mt-4 blue-text"></i>
              <ul class="list-unstyled" style="direction: rtl; line-height: 1.5rem;">
                <li class="li-detail li-first">
                  <a href="https://www.facebook.com/thadarom/"><b>תיווך הדרום</b></a>
                </li>
              </ul>
            </li>

            <li>
              <i class="fa fa-clock-o fa-2x mt-4 blue-text"></i>
              <ul class="list-unstyled" style="direction: rtl; line-height: 1.5rem;">
                <li class="li-detail li-first"><b>ראשון - חמישי:</b></li>
                <li class="li-detail">08:00 - 13:00</li>
                <li class="li-detail">16:00 - 19:00</li>
                <li class="li-detail"><b>שישי:</b></li>
                <li class="li-detail">08:00 - 13:00</li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-contact-form col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-contact-form></app-contact-form>
      </div>
      <span class="spacer"></span>
    </section>

    <hr class="mb-5 container">

    <section id="map-section">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="900" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D7%AA%D7%99%D7%95%D7%95%D7%9A%20%D7%94%D7%93%D7%A8%D7%95%D7%9D%20%D7%90%D7%99%D7%9C%D7%AA&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
    </section>
  </div>
</div>
