body {
  background-color: #f5f5f5;
}

mat-card {
  margin: auto;
  background-color: #f5f5f5;
}

input, textarea {
  direction: rtl;
}

mat-form-field {
  width: 100%;
  text-align: right;
}

.container {
  max-width: 100%;
}

.send-btn {
  text-align: center;
}

h3 {
  text-align: center;
}
