.container {
  max-width: 50%;
}

mat-form-field {
  width: 100%;
  text-align: right;
}

mat-form-field-infix {
  margin-right: -17px;
}

.signup-btn {
  margin-top: 35px;
  text-align: center;
}

.add-photo-label {
  margin-right: 0.5rem;
}

/*.add-photo {*/
  /*text-align: right;*/
  /*margin-bottom: 0.5rem;*/
/*}*/

.add-photo {
  text-align: right;
}

.add-photo-btn {
  margin-right: auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 4px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.signup-btn {
  margin-top: 3rem;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  /*margin: 1rem 0;*/
  display: block;
  /*float: left;*/
  /*margin-top: -1.5rem;*/
}

.image-preview img {
  height: 100%;
  width: 25%;
  float: right;
}

.details {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

mat-checkbox {
  margin-left: 1rem;
}

.floor {
  display: flex;
}

mat-error {
  direction: rtl;
}

.photos-lbl {
  text-align: right;
}

h2 {
  text-align: center;
}

