<div class="container">
  <div class="header">
    <h2 *ngIf="mode === 'create'">יצירת נכס חדש</h2>
    <h2 *ngIf="mode === 'edit'">עריכת נכס קיים</h2>
  </div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-select
          dir="rtl"
          placeholder="מכירה/השכרה"
          name="type"
          formControlName="type">
          <mat-option
            *ngFor="let type of types"
            [value]="type.value">
            {{ type.showValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type').invalid">חובה לבחור את סוג המודעה.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="text"
          name="address"
          placeholder="כתובת הנכס"
          formControlName="address">
        <mat-error *ngIf="form.get('address').invalid">יש לציין את כתובת הנכס.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="text"
          name="neighborhood"
          placeholder="שכונה"
          formControlName="neighborhood">
        <mat-error *ngIf="form.get('neighborhood').invalid">יש לציין את שם השכונה.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="price"
          placeholder="מחיר"
          formControlName="price">
        <mat-error *ngIf="form.get('price').invalid">יש לציין את מחיר הנכס.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          dir="rtl"
          placeholder="קטגוריה"
          name="category"
          formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category').invalid">יש לבחור קטגוריה עבור הנכס.</mat-error>
      </mat-form-field>

      <div class="floor">
        <mat-form-field>
          <input
            dir="rtl"
            matInput
            type="number"
            name="totalFloors"
            placeholder="מתוך"
            formControlName="totalFloors">
        </mat-form-field>
        <mat-form-field>
          <input
            dir="rtl"
            matInput
            type="number"
            name="assetFloor"
            placeholder="קומה"
            formControlName="assetFloor">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="roomsAmount"
          placeholder="מספר חדרים"
          formControlName="roomsAmount">
        <mat-error *ngIf="form.get('category').invalid">יש לציין את מספר החדרים בנכס.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="size"
          placeholder="גודל הנכס"
          formControlName="size">
        <mat-error *ngIf="form.get('category').invalid">יש לציין את גודל הנכס.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          dir="rtl"
          matInput
          name="description"
          id="description"
          placeholder="תיאור הנכס"
          formControlName="description"
          rows="6">
        </textarea>
        <mat-error *ngIf="form.get('category').invalid">יש להכניס תיאור אודות הנכס.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="תאריך כניסה"
          name="entranceDate"
          formControlName="entranceDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('entranceDate').invalid">יש לבחור תאריך כניסה.</mat-error>
      </mat-form-field>

      <div formGroupName="details" class="details">
        <mat-checkbox dir="rtl" formControlName="isAirCondition">מיזוג</mat-checkbox>
        <mat-checkbox dir="rtl" formControlName="isElevator">מעלית</mat-checkbox>
        <mat-checkbox dir="rtl" formControlName="isBalcony">מרפסת</mat-checkbox>
        <mat-checkbox dir="rtl" formControlName="isParking">חניה</mat-checkbox>
        <mat-checkbox dir="rtl" formControlName="isShield">ממ"ד</mat-checkbox>
        <mat-checkbox dir="rtl" formControlName="isStroeroom">מחסן</mat-checkbox>
      </div>

      <div class="photos-lbl">
        <h4>תמונות של הנכס</h4>
        <mat-error *ngIf="!form.get('img0')">*יש להעלות לפחות תמונה אחת של הנכס.</mat-error>
      </div>

      <!--Image #1-->
      <div class="add-photo" id="img0">
        <input type="file" #filePicker1 (change)="onImagePicked($event, 'img0', 0)">
        <div class="photo-actions">
          <button
            class="btn btn-primary btn-circle add-photo-btn"
            type="button"
            (click)="filePicker1.click()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button
            [disabled]="!form.get('img0')"
            class="btn btn-danger btn-circle remove-photo-btn"
            type="button"
            (click)="onRemovePhoto('img0', 0, filePicker1)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="image-preview" *ngIf="imagePreview[0] && form.get('img0').valid">
        <img [src]="imagePreview[0]">
      </div>
      <!--End of image #1-->

      <!--Image #2-->
      <div class="add-photo">
        <input type="file" #filePicker2 (change)="onImagePicked($event, 'img1', 1)">
        <div class="photo-actions">
          <button
            class="btn btn-primary btn-circle add-photo-btn"
            type="button"
            (click)="filePicker2.click()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button
            [disabled]="!form.get('img1')"
            class="btn btn-danger btn-circle remove-photo-btn"
            type="button"
            (click)="onRemovePhoto('img1', 1, filePicker2)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="image-preview" *ngIf="imagePreview[1] && form.get('img1').valid">
        <img [src]="imagePreview[1]">
      </div>
      <!--End of image #2-->

      <!--Image #3-->
      <div class="add-photo">
        <input type="file" #filePicker3 (change)="onImagePicked($event, 'img2', 2)">
        <div class="photo-actions">
          <button
            class="btn btn-primary btn-circle add-photo-btn"
            type="button"
            (click)="filePicker3.click()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button
            [disabled]="!form.get('img2')"
            class="btn btn-danger btn-circle remove-photo-btn"
            type="button"
            (click)="onRemovePhoto('img2', 2, filePicker3)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="image-preview" *ngIf="imagePreview[2] && form.get('img2').valid">
        <img [src]="imagePreview[2]">
      </div>
      <!--End of image #3-->

      <!--Image #4-->
      <div class="add-photo">
        <input type="file" #filePicker4 (change)="onImagePicked($event, 'img3', 3)">
        <div class="photo-actions">
          <button
            class="btn btn-primary btn-circle add-photo-btn"
            type="button"
            (click)="filePicker4.click()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button
            [disabled]="!form.get('img3')"
            class="btn btn-danger btn-circle remove-photo-btn"
            type="button"
            (click)="onRemovePhoto('img3', 3, filePicker4)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="image-preview" *ngIf="imagePreview[3] && form.get('img3').valid">
        <img [src]="imagePreview[3]">
      </div>
      <!--End of image #4-->

      <!--Image #5-->
      <div class="add-photo">
        <input type="file" #filePicker5 (change)="onImagePicked($event, 'img4', 4)">
        <div class="photo-actions">
          <button
            class="btn btn-primary btn-circle add-photo-btn"
            type="button"
            (click)="filePicker5.click()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button
            [disabled]="!form.get('img4')"
            class="btn btn-danger btn-circle remove-photo-btn"
            type="button"
            (click)="onRemovePhoto('img4', 4, filePicker5)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="image-preview" *ngIf="imagePreview[4] && form.get('img4').valid">
        <img [src]="imagePreview[4]">
      </div>
      <!--End of image #5-->

      <!--Submit button-->
      <div class="signup-btn">
        <button mat-raised-button color="primary" type="submit">שלח</button>
      </div>
      <!--End of submit button-->

    </form>
  </mat-card>
</div>
