<div class="container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-select
          dir="rtl"
          placeholder="סוג הנכס"
          name="type"
          formControlName="type">
          <mat-option
            *ngFor="let type of types"
            [value]="type.value">
            {{ type.showValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="text"
          name="address"
          placeholder="כתובת הנכס"
          formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="price"
          placeholder="מחיר"
          formControlName="price">
      </mat-form-field>

      <mat-form-field>
        <mat-select
          dir="rtl"
          placeholder="בית פרטי/משותף"
          name="private"
          formControlName="private">
          <mat-option
            *ngFor="let private of isPrivate"
            [value]="private.value">
            {{ private.showValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="roomsAmount"
          placeholder="מספר חדרים"
          formControlName="roomsAmount">
      </mat-form-field>

      <mat-form-field>
        <input
          dir="rtl"
          matInput
          type="number"
          name="size"
          placeholder="גודל הנכס"
          formControlName="size">
      </mat-form-field>

      <mat-form-field>
        <textarea
          dir="rtl"
          matInput
          name="description"
          id="description"
          placeholder="תיאור הנכס"
          formControlName="description"
          rows="6">
        </textarea>
      </mat-form-field>

      <!--Image #1-->
      <div class="add-photo">
        <input type="file" #filePicker1 (change)="onImagePicked($event)">
        <label for="add-photo-btn1" class="add-photo-label">הוסף תמונה חדשה</label>
        <button
          id="add-photo-btn1"
          class="add-photo-btn"
          color="warn"
          mat-mini-fab
          type="button"
          (click)="filePicker1.click()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="image-preview" *ngIf="imagePreview[0] !== '' && imagePreview[0] && form.get('img0').valid">
        <img [src]="imagePreview[0]">
      </div>
      <!--End of image #1-->

      <!--Image #2-->
      <div class="add-photo">
        <input type="file" #filePicker2 (change)="onImagePicked($event)">
        <label for="add-photo-btn2" class="add-photo-label">הוסף תמונה חדשה</label>
        <button
          id="add-photo-btn2"
          class="add-photo-btn"
          color="warn"
          mat-mini-fab
          type="button"
          (click)="filePicker2.click()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="image-preview" *ngIf="imagePreview[1] !== '' && imagePreview[1] && form.get('img1').valid">
        <img [src]="imagePreview[1]">
      </div>
      <!--End of image #2-->

      <!--Image #3-->
      <div class="add-photo">
        <input type="file" #filePicker3 (change)="onImagePicked($event)">
        <label for="add-photo-btn3" class="add-photo-label">הוסף תמונה חדשה</label>
        <button
          id="add-photo-btn3"
          class="add-photo-btn"
          color="warn"
          mat-mini-fab
          type="button"
          (click)="filePicker3.click()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="image-preview" *ngIf="imagePreview[2] !== '' && imagePreview[2] && form.get('img2').valid">
        <img [src]="imagePreview[2]">
      </div>
      <!--End of image #3-->

      <!--Image #4-->
      <div class="add-photo">
        <input type="file" #filePicker4 (change)="onImagePicked($event)">
        <label for="add-photo-btn4" class="add-photo-label">הוסף תמונה חדשה</label>
        <button
          id="add-photo-btn4"
          class="add-photo-btn"
          color="warn"
          mat-mini-fab
          type="button"
          (click)="filePicker4.click()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="image-preview" *ngIf="imagePreview[3] !== '' && imagePreview[3] && form.get('img3').valid">
        <img [src]="imagePreview[3]">
      </div>
      <!--End of image #4-->

      <!--Image #5-->
      <div class="add-photo">
        <input type="file" #filePicker5 (change)="onImagePicked($event)">
        <label for="add-photo-btn5" class="add-photo-label">הוסף תמונה חדשה</label>
        <button
          id="add-photo-btn5"
          class="add-photo-btn"
          color="warn"
          mat-mini-fab
          type="button"
          (click)="filePicker5.click()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
      <div class="image-preview" *ngIf="imagePreview[4] !== '' && imagePreview[4] && form.get('img4').valid">
        <img [src]="imagePreview[4]">
      </div>
      <!--End of image #5-->


      <div class="signup-btn">
        <button mat-raised-button color="primary" type="submit">שלח</button>
      </div>

    </form>
  </mat-card>
</div>
