.container {
  max-width: 50%;
}

mat-form-field {
  width: 100%;
  text-align: right;
}

mat-spinner {
  margin: auto;
}

.signup-btn {
  margin-top: 35px;
  text-align: center;
}

mat-error {
  direction: rtl;
}
