<mat-card class="example-card" (click)="onDetailsClicked()">
  <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
    <span fxFlex="80%"> {{ asset.address }} </span>
  </mat-card-title>
  <img mat-card-image [src]="asset.photos[0]" class="img-responsive">
</mat-card>


























<!--<div class="row" style="display: inherit;">-->
  <!--<div id="mainCol" class="col-lg-4 col-sm-6">-->
    <!--<div class="container">-->
      <!--<img src="{{asset.photos[0]}}">-->
      <!--<h3 class="title-card">למכירה דירת {{ asset.roomsAmount }} חדרים</h3>-->
      <!--<p>{{ asset.description }}</p>-->
      <!--<span class="map">-->
		    <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
		    <!--<p>{{ asset.address }}</p>-->
	    <!--</span>-->
      <!--<span class="phone">-->
		    <!--<i class="fa fa-money" aria-hidden="true"></i>-->
		    <!--<p>{{ asset.price }}</p>-->
	    <!--</span>-->
      <!--<button>לפרטים נוספים</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->






