<mat-card class="example-card">
  <img mat-card-image [src]="asset.photos[0]">
  <mat-card-content>
    <p dir="rtl">{{ asset.description }}</p>
  </mat-card-content>
  <mat-card-actions class="more-details-btn">
    <button mat-raised-button (click)="onDetailsClicked()">פרטים נוספים</button>
  </mat-card-actions>
</mat-card>























<!--<div class="row" style="display: inherit;">-->
  <!--<div id="mainCol" class="col-lg-4 col-sm-6">-->
    <!--<div class="container">-->
      <!--<img src="{{asset.photos[0]}}">-->
      <!--<h3 class="title-card">למכירה דירת {{ asset.roomsAmount }} חדרים</h3>-->
      <!--<p>{{ asset.description }}</p>-->
      <!--<span class="map">-->
		    <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
		    <!--<p>{{ asset.address }}</p>-->
	    <!--</span>-->
      <!--<span class="phone">-->
		    <!--<i class="fa fa-money" aria-hidden="true"></i>-->
		    <!--<p>{{ asset.price }}</p>-->
	    <!--</span>-->
      <!--<button>לפרטים נוספים</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->






