@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');

mat-card:hover {
  /*background-color: #f5f5f5;*/
  /*cursor: pointer;*/
  background-color: #00a885;
  color:#fff;
}

mat-card-title {
  display: block !important;
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  text-align: right;
}

.example-card {
  max-width: 250px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  padding-bottom: 0;
}

mat-card-title {
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  text-align: right;
}

img {
  width: 250px;
  height: 200px;
}

.more-details-btn {
  text-align: center;
}

