.example-card {
  width: 250px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  /*width: 40%;*/
  /*height: 95%;*/
  /*box-sizing: border-box;*/
}

/*mat-card-content {*/
  /*position: absolute;*/
  /*min-height: 100% !important;*/
/*}*/

.more-details-btn {
  text-align: center;
}

